<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="Cognizant" connectionString="Server=den1.mssql7.gear.host; Database=cognizant; User Id=cognizant; Password=Fw5NG3S!~Xt5;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>